

#head{
    width: 30%;
    position: absolute;
    transition: width 1s, border-bottom-right-radius 1s, border-top-right-radius 1s ;
    display: flex;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}
#head p{
    display: none;
    /* transition: display 5s; */
    animation: visible 2s linear;
}
@keyframes visible{
    0%{
        color: rgba(0, 0, 0, 0.4);
    }
    100%{
        color: aliceblue;
    }
}

#head:hover p{
    width: 80%;
    display:flex;
}
#firstblock:hover #head{
    width: 100%;
    border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
}


.course-section {
    display: flex;
    align-items: center;
    
    background-color: #ffffff;
    position: relative;
    flex-wrap: wrap;
    padding: 40px;
    padding-left: 100px;
    color: black;
    
}

.course-text {
    color: white;
    max-width: 500px;
    z-index: 1;
    color: black;
}

.course-text h2 {
    font-size: 2rem;
    
}

.course-text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #787777;
}

.course-text button {
    padding: 0.8rem 1.5rem;
    background-color: #e6399ed7;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.course-image-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 50%;
    padding-right: 100px;
    
}

.course-image {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    transition: width 1s ,max-width 1s;
    
}
.course-image:hover{
    width: 100%;
    max-width: 370px;
   
}

.course-section-reverse {
    display: flex;
    align-items: center;

    background-color: #ffffff;
    position: relative;
    flex-wrap: wrap;
    padding: 40px;
    padding-left: 40%;

}

.course-text-r {
    color: black;
    max-width: 500px;
    z-index: 1;
}

.course-text-r h2 {
    font-size: 2rem;

}

.course-text-r p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #787777;
}

.course-text-r button {
    padding: 0.8rem 1.5rem;
    background-color: #e63946;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.course-image-wrapper-r {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 50%;
    padding-left: 100px;

}

.course-image-r {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    transition: width 1s, max-width 1s;

}

.course-image-r:hover {
    width: 100%;
    max-width: 370px;

}

